<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<!--p style="margin-left: 550px">
	 <p style="font-size: 32px">
  <h1>Hello Tom, welcome to your first site!</h1>
  </p>
  



<body class="overview">

<div class="Container">
  <div id="Header">
    <div id="Nav">
      <a href="/">Home</a> |
      <a href="http://www.vocaltec.com">Vocaltec Site</a> |
      <a href="download">Download</a> |
      <a href="about us">About Us</a> |
      <a href="business">Business</a> |
      <a href="contact">Contact</a> 
    </div>
  </div>  


   
  <div class="message">
    <!--img src="http://images.all-free-download.com/images/graphiclarge/vocaltec_communications_2_112725.jpg" width="150" height="150"  />
		<!--a href="http://magicjack.com" class="no_link_hover">
		<img width="280" height="200" src="http://images.all-free-download.com/images/graphiclarge/vocaltec_communications_2_112725.jpg" style="margin-left: 450px" class="bordered" /></a>
  </div>
</div>

<div class="main">

  
  <p style="font-size: 22px">
     For login with facebook account <a href="http://facebook.com">Facebook</a>.
  </p>
  
<div class="content">
  <div class="sub">
  <a href="http://facebook.com" class="no_link_hover"><img width="150" height="150" src="http://www.fredsfarmfresh.com/nss-folder/pictures/facebook.jpg" style="margin-left: 45px" class="bordered" /></a>
  
</div>







  <p style="font-size: 22px">
    Magicjack site <a href="http://magicjack.com">Majicjack</a>.
  </p>
</div>


<br clear="all" />

<div class="sub">
  <a href="http://magicjack.com" class="no_link_hover"><img width="150" height="150" src="http://www.mp3car.com/vbulletin/imagehosting/1374584916006a3edfb.jpg" style="margin-left: 45px" class="bordered" /></a>
</div>
